div(class=dj[key].wrapclass,style=mainContentDivStyle)
  div(class=mobileWrapper)
    footer
      div(class="")
        div
      div(class="container")
        div(ggf,class=dj[kyeForClass].leftClass)
          div(class="wrap-left")
            div
        div(gg,class=dj[kyeForClass].centerClass)
          div(class="wrap-center")
            div
        div(ff,class=dj[kyeForClass].rightClass)
          div(class="wrap-right")
            div
        div(class="clearfix")